#main
{
    height:1800px;
    width:1500px;
    background-color: cyan;
}
#n1
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:3cm ;
    font-style: italic;
    text-align: center;
    position: relative;
    bottom:50px;
    
}
#i1
{
    height:7cm;
    width:7cm;
    position: relative;
    left:1050px;
    bottom:400px;
}
#i2
{
    width:1500px;
    position: relative;
    bottom: 400px;
}
#d1
{
    width:250px;
    position: relative;
    left:1250px;
    bottom:1150px;

}
.n2
{
    color: floralwhite;
    font-style: italic;
}
#u1
{
    list-style-type: none;
    padding:0;
    margin:0;
    overflow:hidden;
    background-color:rgb(129, 3, 129);
}
li a
        {
            color:white;
            display: block;
            text-align: center;
            text-decoration: none;
            text-emphasis-style: italic;
            padding:20px;
        }
 li a:hover
        {
            background-color: rgb(248, 103, 236);
        }
li.l1
        {
            float:left;
        }
#n3
 {
     text-align: center;
     font-size: 1.5cm;
     color: indigo;
     position: relative;
     bottom:150px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .n3
 {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 #d2
 {
     width:1050;
     position:relative;
     bottom:1150px;
     color: white;
     background-color: mediumvioletred;
 }
 #d3
 {
 position: relative;
 bottom: 1150px;
 height:100px;
 }
 #i3
 {
     height:300px;
     width:400px;
 }
 #d31
 {
  position: relative;
  left:450px;
  bottom:350px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(2, 2, 73);
  width:450px;
  height:500px;
 }
 #d4
 {
     width:450px;
     height:350px;
     position: relative;
     bottom:850px;
     left:1000px;
 }
 #d5
 {
     width:250px;
     height: 170px;
     position: relative;
     bottom:1420px;
     left:1100px;
     background-color: rgb(203, 247, 7);
 }